@import "normalize.scss";
@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";

*,
*::before,
::after {
	box-sizing: inherit;
}

html,
body {
	min-width: 1440px;

	height: 100%;
}

html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}

body {

	@include reset();

	font-family: "Open Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;

	@include text-font();

	color: $blue-grey;
}

// @media (max-width: 768px){
// 	span {
// 		font-size: 20px;
// 	}
// }

// @media (max-width: 768px){
// 	body {
// 		background-color: green;
// 	}
// }

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-wrapper {
	height: 100vh;

	display: flex;
	flex-direction: column;
}


.main-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	min-height: 0;
}

.main-footer {
	flex: 0 0 auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

input::placeholder{
	opacity: 50%;
}

.button {
	padding: 6px 15px;
	margin: 0;
	// height: 30px;

	background-color: $yellow;
	border: none;
	border-radius: 4px;

	font: inherit;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	outline: none;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: $white;

	transition: all .3s;
	// transition-behavior: normal;
	// transition-duration: 0.3s;
	// transition-timing-function: ease;
	// transition-delay: 0s;
	// transition-property: all;

	cursor: pointer;

	&:hover,
	&:focus,
	&:active {
		opacity: 0.7;
	}
}

.main-header {
	padding: 20px 0;
	background-color: $light-grey;
}

.main-navigation {
	@include reset();

	font-size: 16px;
	line-height: 30px;
	color: $black;

	// background-image: url("@img/mmenu-bg.gif");
	// background-position: left top;
	// background-repeat: no-repeat;

}

.container {
	width: 1200px;
	margin: auto;
}

.main-navigation__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo {
	width: 50px;
	height: 50px;

	&:hover svg,
	&:active svg,
	&:focus svg {
		fill: $yellow;
	}

	&:active svg {
		opacity: 0.3;
	}
}

.site-navigation,
.user-navigation {
	@include list-reset();

	text-transform: uppercase;
	// font-weight: 700;
}

.site-navigation {
	width: 700px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.user-navigation {
	width: 250px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.site-navigation__item a,
.user-navigation__item a {
	position: relative;

	padding-left: 25px;

	color: $black;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}

	&::before {
		content: "";

		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}
}
.site-navigation__item--home a::before{
	background: url("@img/icon-home.svg") no-repeat 0 0;
}
.site-navigation__item--help a::before{
	background: url("@img/icon-help.svg") no-repeat 0 0;
}
.site-navigation__item--people a::before{
	background: url("@img/icon-people.svg") no-repeat 0 0;
}
.site-navigation__item--complaints a::before{
	background: url("@img/icon-complaints.svg") no-repeat 0 0;
}
.user-navigation__item--login a::before{
	background: url("@img/icon-signin.svg") no-repeat 0 0;
}
.user-navigation__item--signup a::before{
	background: url("@img/icon-signup.svg") no-repeat 0 0;
}

.page__header {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.columns {
	padding: 15px 0;

	display: flex;
	justify-content: space-between;

	// min-height: 0;
	height: 100%;
}

.column-left {
	width: 385px;
	height: 100%;

	display: flex;
	flex-direction: column;

	padding: 15px;
	border: 2px solid $light-grey;
}

.column-right {
	width: 800px;
	height: 100%;

	display: flex;
	flex-direction: column;

	padding: 15px;
	border: 2px solid $light-grey;
}

section {
	border: 1px solid $yellow;
}

section h2 {
	text-align: center;

	@include text-font(24px, 30px, 700);
}

.search {
	padding: 15px;
	margin-bottom: 15px;
}

.search__list {
	@include reset();

	list-style: none;
}

.search__item {
	@include reset();

	text-align: center;
	border-radius: 4px;
	border: solid 1px $super-light-grey;


	&:hover,
	&:focus,
	&:active {

		background-color: $yellow;
	}
}

.search__link {
display: block;

	position: relative;
	padding: 10px;

	text-transform: uppercase;
	color: $black;

	&::before {
		content: "";
		position: absolute;

		width: 20px;
		height: 20px;

		left: 10px;
		top: 50%;
		margin-top: -10px;
	}
}
.search__link--search::before {
	background: url("@img/icon-search.svg") no-repeat 0 0;
}
.search__link--myprofile::before {
	background: url("@img/icon-myprofile.svg") no-repeat 0 0;
}
.search__link--register::before {
	background: url("@img/icon-signup.svg") no-repeat 0 0;
}
.search__link--gallery::before {
	background: url("@img/icon-gallery.svg") no-repeat 0 0;
}

.news {
	padding: 15px;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}

.news__list {
	@include list-reset();

	margin-bottom: 15px;
}

.news__item {
	@include reset();

	margin-bottom: 10px;

	@include text-font(14px, 18px, 400);
}

.news__item p {
	@include reset();

	color: $blue-grey;
}

.news__item time {
	font-weight: bold;
}

.button--news {
	margin: 0 auto;
}


.entrance__wrapper {
	display: flex;
	justify-content: space-between;
}

.form__label {
	@include text-font(16px, 18px, 400);

	color: $blue-grey;
}

.enter__form {
	display: flex;
	flex-direction: column;
}

.enter {
	margin: 0;
	padding: 15px;

	flex: 1 0 auto;
	margin-right: 15px;
}

.enter__form p {
	@include reset();
	margin-bottom: 15px;

	display: flex;
	justify-content: space-between;
}

.form__nickname {
	padding: 5px;

	width: 300px;
	height: 24px;

	border: 1px solid $border-grey;
	border-image: none;


	font-size: 14px;
}


.channels__list {
	@include reset();

	width: 300px;
	height: 24px;

	border: 1px solid $border-grey;
	border-image: none;

	font-size: 14px;
}

.enter__button {
	margin: 0 auto;
}

.rules {
	margin: 0;
	padding: 15px;

	width: 150px;
}

.rules a:hover,
.rules a:focus,
.rules a:active {
	color: $yellow;
}

.rules__list {
	@include list-reset();
}

.rules__item {
	@include reset();
	margin-bottom: 10px;

	@include text-font(12px, 16px, 400);

	color: $blue-grey;
}

.vote {
	width: 100%;
	height: 400px;

	margin-top: 15px;
	padding: 15px;

	flex-grow: 1;
	overflow: auto;
}

.main-footer {
	padding: 20px 0;
	background-color: $grey;
}

.main-footer .contacts,
.main-footer .social,
.main-footer .copyright {
	@include reset();
}

.main-footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.contacts__link,
.social__link,
.copyright__link {
	color: $super-light-grey;

	&:hover,
	&:focus,
	&:active {
		color: $yellow;
	}
}

.social__list {
	@include list-reset();

	width: 141px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.social__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 43px;
	height: 43px;
}

.social__link:hover,
.social__link:focus {
	background-color: $white;

	& path {
		fill: $grey;
	}
}

.social__link:active {
	background-color: $white;

	& path {
		fill: $black;
	}
}


.modal {
	padding: 30px;
	width: 400px;

	position: fixed;

	left: 50%;
	top: 50%;

	background-color: $white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	// margin-left: -200px;
	transform: translate(-50%, -50%);

	z-index: 2;

	display: none;
}


.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background-color: rgba($color: #000000, $alpha: 0.5);
	z-index: 1;

	display: none;
}

.modal__close {
	@include reset();

	width: 22px;
	height: 22px;

	font-size: 0;

	position: absolute;
	top: 0;
	right: -30px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 10px;
		left: 2px;


		width: 19px;
		height: 3px;

		background-color: $grey;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.modal--show {
	display: block;
}

// @keyframes shake {
// 	0%, 100% {transform: translateX(0);}
// 	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
// 	20%, 40%, 60%, 80% {transform: translateX(10px);}

// }

// .modal--error {
// 	animation-name: shake;
// 	animation-duration: 0.6s;
// }

.modal--error {
	& input[type="text"],
	& input[type="password"],
	& input[type="email"] {
		border: 1px solid red;
	}
}

.form .form__restore,
.form .form__recover {
	color: $blue-grey;
	text-decoration: underline;
}

.form .form__description {
	color: $super-light-grey;

	text-align: center;
}

.modal .form__login,
.modal .form__password,
.modal .form__email {
	box-sizing: border-box;

	width: 260px;
	padding: 10px 15px;
	padding-right: 40px;

	border: 1px solid $black;
	border-radius: 4px;
}

.modal .form__login {
	background-image: url("@img/user.svg");
	background-position: 230px center;
	background-repeat: no-repeat;
}
.modal .form__password {
	background-image: url("@img/lock.svg");
	background-position: 230px center;
	background-repeat: no-repeat;
}

.modal .form__email {
	background-image: url("@img/email.svg");
	background-position: 230px center;
	background-repeat: no-repeat;
}

.modal p {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal .form__sex {
	@include list-reset();

	display: flex;
	justify-content: space-around;
}

.button--enter {
	width: 100%;
}


.form__label--checkbox {
	position: relative;
	padding-left: 30px;

	cursor: pointer;

	&:hover,
	&:focus {
		color: $yellow;
	}
}

.form__label--checkbox .form__checkbox +.form__checkbox-indicator {
	position: absolute;

	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 1px solid $black;
}

.form__label--checkbox .form__checkbox:focus +.form__checkbox-indicator {
	border-color: $yellow;
	outline: thin dotted;
}

.form__label--checkbox .form__checkbox:checked +.form__checkbox-indicator::before,
.form__label--checkbox .form__checkbox:checked +.form__checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 7px;
	left: 0px;

	width: 15px;
	height: 2px;

	background-color: $black;
}
.form__label--checkbox .form__checkbox:checked +.form__checkbox-indicator::before{
	transform: rotate(45deg);
}
.form__label--checkbox .form__checkbox:checked +.form__checkbox-indicator::after{
	transform: rotate(-45deg);
}

.form__label--radio {
	position: relative;
	padding-left: 30px;

	cursor: pointer;

	&:hover,
	&:focus {
		color: $yellow;
	}
}

.form__label--radio .form__radio +.form__radio-indicator {
	position: absolute;

	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 1px solid $black;
	border-radius: 50%;
}

.form__label--radio .form__radio:focus +.form__radio-indicator {
	border-color: $yellow;
	outline: thin dotted;
}
.form__label--radio .form__radio:checked +.form__radio-indicator::after {
	content: "";

	position: absolute;
	top: 3px;
	left: 3px;

	width: 9px;
	height: 9px;

	background-color: $black;
	border-radius: 50%;
}

//--------- chat.html
.users {
	flex-grow: 1;
	overflow: auto;
}

.users__list {
	@include list-reset();

	list-style: none;
}

.users-item {
	@include reset();
}

.messages {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.all-messages {
	margin-bottom: 15px;

	flex-grow: 1;
	overflow: auto;
}

.all-messages__list {
	@include list-reset();
}
