//colors
$blue-grey: #283136;
$yellow: #EDC213;
$white: #ffffff;
$grey: grey;
$light-grey: #eeeeee;
$super-light-grey: #DADADA;
$black: #000000;
$border-grey: rgb(99, 99, 99);

// resolutions
$mobile-width-only: 767px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina2x_dpi: 144dpi;
$retina2x_dppx: 1.5dppx;
